@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Serif SC', 'STKaiti', 'KaiTi', 'Songti SC', serif;
  color: #1f2937;
  background-color: #f7f6f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
